html,
body,
#root {
  box-sizing: border-box;
  background: black;
}

.app {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr minmax(12rem, 99999rem) 1fr;
  grid-template-rows: 1fr;
  height: auto;
  max-width: 600px;
  margin: auto;
  margin-top: 5rem;
}

.number {
  box-sizing: border-box;
  font-size: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
  color: #a6a6a6;
}

.plus,
.minus {
  align-self: center;
  justify-self: center;
}

.plus {
  grid-column-start: 3;
  grid-column-end: 4;
}
.minus {
  grid-column-start: 1;
  grid-column-end: 2;
}
